fi<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/ }}">Home</a></li>
        <li><a href="{{ '/Selfie.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Selfie.md }}">Self Portrait</a></li>
        <li><a href="{{ '/Comic.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Comic.md }}">Comic Image-Text</a></li>
        <li><a href="{{ '/Map.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Map.md }}">Map Interactive</a></li>
         <li><a href="{{ '/Hypertext.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Hypertext.md }}">Hypertext Twine</a></li>
        <li><a href="{{ '/Grammar.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Grammar.md }}">Grammar Tracery</a></li>
        <li><a href="{{ '/Generation.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Generation.md }}">Generative AI</a></li>
        <li><a href="{{ '/Narrative.md' | https://alyssalb.github.io/CriticalMakingPortfolioBarrack/Narrative.md }}">Narrative with p5.js</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>

</body>
</html>
